/* ----------
    RESET
---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------
    GENERAL
---------- */

.header-main-flex {
    display: flex;
    height: calc(100% - 5.625rem);
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #141922;
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

.padding-10 {
    padding: 0 .625rem;
}

.padding-20 {
    padding: 0 1.25rem;
}

.padding-25 {
    padding: 0 1.5625rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    padding: .625rem;
    align-items: center;
    max-width: calc(100% / 2);
}

/* --------------
    TYPOGRAPHY
--------------- */

h3 {
    color: #fff;
    margin: 1.25rem 0;
    font-size: 1.125rem;
}

h2 {
    color: #fff;
    padding: 1.25rem .625rem;
    font-size: 1.875rem;
}

h4 {
    color: #fff;
    padding-top: .9375rem;
    padding-bottom: .625rem;
}

h5 {
    font-size: 1rem;
    color: #fff;
}

/* ----------
    BUTTON
---------- */

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s opacity
}

.playlist-btn {
    display: flex;
    align-items: center;
    font-size: 1.375rem;
}

.btn-upgrade {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1.25rem;
    padding: .9375rem 2.1875rem;
    transform: scale(1);
    transition: 0.3s;
}

.btn-upgrade:hover {
    transform: scale(1.1);
}

/* ----------
    HEADER
---------- */

header {
    background-color: #000;
    width: 3.125rem;
    flex-shrink: 0;
    padding: .125rem .625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1.375rem;
    overflow-y: auto;
}

.header-top,
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-header {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: .25rem 0;
}

.logo-small {
    width: 100%;
}

.logo-big {
    display: none;
    width: 100%;
}

.playlist {
    overflow-y: auto;
}

.fa-plus {
    background-color: #fff;
    color: #000;
    padding: .625rem;
    margin-right: .25rem;
}

header hr,
.header-top li,
.header-bottom li,
.playlist .btn {
    color: #fff;
    opacity: 0.5;
}

header hr {
    width: 100%;
}

.playlist ul {
    display: flex;
    flex-direction: column;
    color: white;
}

header li {
    display: flex;
    align-items: center;
    padding: .625rem 0;
    transition: 0.3s opacity
}

#profile {
    background-color: #808080;
    border-radius: 100px;
}

.playlist p {
    padding: .625rem 0;
}

#download {
    font-size: .75rem;
}

.header-bottom #download img {
    width: 1.125rem;
    height: 1.125rem;
}

header li:hover,
header .btn:hover {
    opacity: 1;
    cursor: pointer;
}

.header-top-nav li:nth-child(1) {
    opacity: 1;
}

.header-bottom-nav li:last-child {
    opacity: 1;
}

/* ----------
    MAIN
---------- */

main {
    overflow-y: auto;
    flex-grow: 1;
}

.upgrade {
    height: 5.625rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.25rem;
}

.explore-nav {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 1.5625rem;
    padding: 1.25rem 1.25rem;
    flex-wrap: wrap;
}

.explore-nav li {
    color: #fff;
    opacity: 0.5;
    transition: 0.3s opacity;
}

.explore-nav li:hover {
    opacity: 1;
    cursor: pointer;
}

.explore-nav li:nth-child(1) {
    position: relative;
}

.nav-bar {
    background-color: #adff2f;
    height: .3125rem;
    width: 2.5rem;
    position: absolute;
    bottom: -40%;
    left: 30%;
}

.album-info {
    text-align: center;
}

.album-info p {
    color: #7a7d81;
}

.col img {
    max-width: 100%;
}

.album {
    position: relative;
}

.img-overlay {
    color: #fff;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s opacity;
}

.album .img-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.creato-per-john-doe p,
.most-popular p {
    color: #7a7d81;
    padding-left: .625rem;
    padding-bottom: 22px;
}

.creato-per-john-doe h2,
.most-popular h2 {
    padding-bottom: .5rem;
}

.most-popular .album {
    border-radius: 100%;
    overflow: hidden;
}

/* ----------
    FOOTER
---------- */

footer {
    background-color: #282828;
    height: 5.625rem;
    padding: 1.25rem .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER LEFT */

.footer-left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
}

.footer-left img {
    max-height: 100%;
}

.name-album, .like-album {
    display: flex;
    flex-direction: column;
    padding: 0 .9375rem;
}

.like-album {
    font-size: 1.375rem;
    gap: .375rem;
}

.name-music {
    width: 80%;
}

.footer-left .name-music, .footer-left i {
    color: #fff;
    opacity: 0.5;
    transition: 0.3s opacity;
}

.footer-left .name-music:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: underline .125rem solid;
}

.footer-left i:hover {
    opacity: 1;
    cursor: pointer;
}

/* FOOTER CENTER */

.footer-center {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.player-buttons {
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 1.25rem;
}

.footer-center .fa-circle-play {
    font-size: 1.875rem;
    transform: scale(1);
    transition: 0.3s;
}

.footer-center .fa-circle-play:hover {
    transform: scale(1.2);
}

.duration-bar {
    height: .375rem;
    width: 70%;
    background-color: #5a5a5a;
    border-radius: .625rem;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.duration-indicator {
    opacity: 0;
    transition: 0.3s opacity;
}

.duration-indicator:hover {
    opacity: 1;
}

.duration-bar-hover hr {
    height: .375rem;
    width: 18%;
    border-radius: .625rem;
    background-color: #adff2f;
    border: none;
    position: relative;
}

.duration {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.duration p {
    color: #fff;
}

/* FOOTER RIGHT */

.footer-right {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.375rem;
    width: 30%;
    justify-content: flex-end;
}

.footer-right-icons i {
    padding: 0 .375rem;
    color: #fff;
    cursor: pointer;
}

.volume-bar {
    height: .375rem;
    width: 40%;
    background-color: #5a5a5a;
    border-radius: .625rem;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.volume-bar-hover hr {
    height: .375rem;
    width: 20%;
    border-radius: .625rem;
    background-color: #adff2f;
    border: none;
    position: relative;
}

.circle {
    background-color: #fff;
    border-radius: 100%;
    height: .875rem;
    width: .875rem;
    position: absolute;
    bottom: -0.25rem;
    left: 16%;
}

.volume-indicator {
    opacity: 0;
    transition: 0.3s opacity;
}

.volume-indicator:hover {
    opacity: 1;
}


/* ----------------------------
    RESPONSIVE - MOBILE FIRST
----------------------------- */

/* MOBILE <= 480px */

@media screen and (max-width: 480px) {

    .playlist,
    h3,
    .fa-plus,
    .header-bottom hr {
        display: none;
    }

    .header-bottom #download img {
        margin-left: .1875rem;
    }

}

/* LARGE MOBILE 480px to 576px */

@media screen and (min-width: 481px) {

    header {
        width: 14.375rem;
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: block;
        padding: .9375rem 0;
    }

    .header-top,
    .header-bottom {
        align-items: flex-start;
    }

    .hidden {
        display: block;
    }

    .header-bottom #download img {
        margin-left: 0;
        margin-right: .25rem;
    }

    #profile {
        margin-right: .25rem;
    }

    .header-top-nav li:nth-child(1) {
        border-left: .25rem solid #adff2f;
        position: relative;
        top: 0;
        left: -0.625rem;
        padding-left: .375rem;
    }

    .name-music {
        width: 100%;
    }

}

/* TABLET 576px to 768px */

@media screen and (min-width: 768px) {

    .col {
        max-width: calc(100% / 4);
    }

    .like-album {
        display: flex;
        flex-direction: row;
        padding-left: 1.875rem;
        gap: .9375rem;
    }

}

/* DESKTOP 768px to >= 1200px */

@media screen and (min-width: 1200px) {

    .col {
        max-width: calc(100% / 6);
    }

}