/* ----------
    RESET
---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------
    GENERAL
---------- */

.header-main-flex {
    display: flex;
    height: calc(100% - 5.625rem);
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

/* ----------
    HEADER
---------- */

header {
    background-color: #000;
    width: 3.125rem;
    flex-shrink: 0;
    padding: .125rem .625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1.375rem;
}

.header-top, .header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-header {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: .25rem 0;
}

.logo-big {
    display: none;
    width: 80%;
    height: 80%;
}

.fa-plus {
    background-color: #fff;
    padding: .625rem;
    font-size: 1.125rem;
    margin-right: .25rem;
}

header p, header hr {
    color: #fff;
    opacity: 0.5;
}

header hr {
    width: 100%;
}

.menù {
    display: flex;
    align-items: center;
    padding: .3125rem 0;
}

#profile {
    background-color: #808080;
    border-radius: 100px;
}

.header-top p, .header-bottom p {
    padding-left: .25rem;
}

.playlist p {
    padding: .625rem 0;
}

#download {
    font-size: .75rem;
}

/* ----------
    MAIN
---------- */

main {
    background-color: lightcoral;
    overflow-y: auto;
    flex-grow: 1;
}

/* ----------
    FOOTER
---------- */

footer {
    background-color: brown;
    height: 5.625rem;
}

/* ----------------------------
    RESPONSIVE - MOBILE FIRST
----------------------------- */

/* MOBILE <= 480px to 576px */

@media screen and (max-width: 576px) {

    header p, h3, .fa-plus, hr {
        display: none;
    }

}

/* LARGE MOBILE 576px to 768px */

@media screen and (min-width: 576px) {

    header {
        width: 14.375rem;
    }

    .logo-small {
        display: none;
    } 
    
    .logo-big {
        display: block;
        padding: .9375rem 0;
    }

    .header-top, .header-bottom {
        align-items: flex-start;
    }

}

/* TABLET 768px to 1200 */

/* DESKTOP >= 1200px */

